# ignore IDE/hidden/OS cache files
*.tmp
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# ignore directories/files
/scratch
/screenshots
css/raw/global.min.css
css/raw/stylish.min.css
css/raw/stylus.min.css
css/raw/syntax.min.css
css/raw/fonts.min.css
css/raw/icons.min.css
css/compressed/global.css
css/compressed/stylish.css
css/compressed/stylus.css
css/compressed/syntax.css
css/compressed/fonts.css
css/compressed/icons.css
*.sublime-project
*.sublime-workspace
*.dat
